binds {
    Mod+H { focus-column-left; }
    Mod+J { focus-window-or-workspace-down; }
    Mod+K { focus-window-or-workspace-up; }
    Mod+L { focus-column-right; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }
    Mod+Shift+L     { move-column-right; } 

    Mod+Ctrl+H  { focus-monitor-left; }
    Mod+Ctrl+J  { focus-monitor-down; }
    Mod+Ctrl+K  { focus-monitor-up; }
    Mod+Ctrl+L  { focus-monitor-right; }

    Mod+Shift+Ctrl+H { move-window-to-monitor-left; }
    Mod+Shift+Ctrl+L { move-window-to-monitor-right; }
    Mod+Shift+Ctrl+J { move-window-to-monitor-down; }
    Mod+Shift+Ctrl+K { move-window-to-monitor-up; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }

    Mod+Space { toggle-window-floating; }

    Mod+A { toggle-overview; }

    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
}
