binds {
    Mod+Return {
        spawn "kitty";
    }
    Mod+Shift+Return {
        spawn-sh "emacsclient -c -a 'emacs'";
    }
    Mod+D {
        spawn-sh "rofi -modi run,drun,window -show drun";
    }
    Mod+Shift+D {
        spawn-sh "rofi -modi run,drun,window -show run";
    }
    Mod+Shift+F {
        spawn "thunar";
    }

    Mod+Shift+Q {
        close-window;
    }

    Mod+Shift+E {
        quit;
    }

    Mod+Shift+Slash {
        show-hotkey-overlay;
    }

    Mod+Ctrl+L hotkey-overlay-title="Lock System" {
        spawn "swaylock --color 000000"
    }
}
