binds {
    Mod+Return {
        spawn "kitty";
    }
    Mod+Shift+Return {
        spawn-sh "emacsclient -c -a 'emacs'";
    }

    Mod+Shift+Q {
        close-window;
    }

    Mod+Shift+E {
        quit;
    }

    Mod+Shift+Slash {
        show-hotkey-overlay;
    }
}
