input {
    keyboard {
        xkb {
            layout "us"
            options "caps:escape"
        }
    }

    touchpad {
        tap
        natural-scroll
    }
}

spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP=niri"
spawn-at-startup "wl-paste"
spawn-at-startup "systemctl" "--user" "import-environment" "DISPLAY" "WAYLAND_DISPLAY" "NIRI_SOCKET"
spawn-at-startup "mako"

binds {
    XF86AudioMute {
        spawn "pactl" "set-sink-mute" "@DEFAULT_SINK@" "toggle";
    }
    XF86AudioLowerVolume {
        spawn "pactl" "set-sink-volume" "@DEFAULT_SINK@" "-5%";
    }
    XF86AudioRaiseVolume {
        spawn "pactl" "set-sink-volume" "@DEFAULT_SINK@" "+5%";
    }
    XF86AudioMicMute {
        spawn "pactl" "set-source-mute" "@DEFAULT_SOURCE@" "toggle";
    }

    XF86MonBrightnessDown {
        spawn "brightnessctl" "set" "5%-";
    }
    XF86MonBrightnessUp {
        spawn "brightnessctl" "set" "5%+";
    }

    Print {
        spawn "flameshot" "--region";
    }

    // Core bindings
    Mod+Return {
        spawn "kitty";
    }
    Mod+Shift+Return {
        spawn-sh "emacsclient -c -a 'emacs'";
    }
    Mod+D {
        spawn-sh "rofi -modi run,drun,window -show drun";
    }
    Mod+Shift+D {
        spawn-sh "rofi -modi run,drun,window -show run";
    }
    Mod+Shift+F {
        spawn "thunar";
    }
    Mod+Ctrl+L {
        spawn "swaylock" "--color" "000000";
    }

    Mod+Shift+Q {
        close-window;
    }

    Mod+Shift+E {
        quit;
    }

    Mod+S {
        focus-column-left;
    }
    Mod+W {
        focus-column-right;
    }
    Mod+E {
        maximize-column;
    }

    Mod+F {
        fullscreen-window
    }

    Mod+Space {
        toggle-window-floating;
    }

    Mod+A {
        toggle-overview;
    }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+Shift+0 { move-column-to-workspace 10; }
}
