include "startup/env.kdl"
include "startup/apps.kdl"
include "input/keyboard.kdl"
include "input/touchpad.kdl"
include "layout/windows.kdl"
include "layout/shadow.kdl"
include "layout/focus-ring.kdl"
include "layout/border.kdl"
include "window-rules/firefox-pip.kdl"
include "bindings/layout.kdl"
include "bindings/workspace.kdl"
include "bindings/audio.kdl"
include "bindings/brightness.kdl"
include "bindings/screenshot.kdl"
include "bindings/core.kdl"
