include "startup/env.kdl"
include "startup/apps.kdl"
include "input/keyboard.kdl"
include "input/touchpad.kdl"
include "bindings/layout.kdl"
include "bindings/workspace.kdl"
include "bindings/audio.kdl"
include "bindings/brightness.kdl"
include "bindings/core.kdl"
